#hero {
  /* padding: 0 0 5em 0; */
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

.title {
  font-weight: 200;
  /* color: white; */
  letter-spacing: 2px;
}

.hero-title {
  font-family: "Caveat";
  font-weight: 500;
  font-size: 72px;
  margin-bottom: 0px;
}

.hero-subtitle {
  /* font-family: "Caveat"; */
  font-size: 32px;
}

#hero-video {
  width: 100%;
  height: auto;
  z-index: -100;
  background: grey;
}

#hero-container {
  position: relative;
}
