/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  nav {
    position: fixed;
    top: 1em;
    right: 1em;
    transition: 0.2s;
  }
}

@media (min-width: 576px) {
  nav {
    position: fixed;
    top: 1em;
    right: 1em;
    transition: 0.2s;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  nav {
    position: fixed;
    top: 1em;
    right: 1em;
    transition: 0.2s;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #marketing {
    position: fixed;
    top: 2em;
    left: 2em;
    transition: 0.2s;
  }

  nav {
    position: fixed;
    top: 2em;
    right: 2em;
    transition: 0.2s;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #marketing {
    position: fixed;
    top: 3em;
    left: 3em;
    transition: 0.2s;
  }

  nav {
    position: fixed;
    top: 3em;
    right: 3em;
    transition: 0.2s;
  }
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
  text-align: right;
}

a {
  text-decoration: none;
  color: black;
}

.nav-internal,
.nav-external {
  margin-bottom: 28px;
  z-index: 100;
}

.nav-icon {
  width: 20px;
  height: 20px;
}

li {
  padding: 0px 0px 10px 0px;
}

/* get font thickness squared */
.nav-internal > li > a {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1.5px;
  /* pointer-events: auto; */
}

.scroll {
  background: black;
  height: 2000px;
  width: 25%;
  margin-left: 10%;
  margin-top: 30px;
}

.fa:hover {
  color: rgb(10, 160, 138);
  transition: color 0.2s;
}

.nav-internal li a:hover {
  color: rgb(10, 160, 138);
  transition: color 0.2s;
}

/* .title-move {
    animation: titleMove 2s ease-in-out infinite;
  } */

/* defintiion of animation function titleMove */
@keyframes titleMove {
  0%,
  100% {
    transform: translate(0, -2px);
  }
  50% {
    transform: translate(0, 2px);
  }
}

/* ------------------------------- */
